<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config />
	<bean id="employee" class="com.infosys.pojo.Employee">
		<property name="empId" value="34" />
		<property name="empName" value="Dylan" />

	</bean>

	<bean id="address" class="com.infosys.pojo.Address">
		<property name="city" value="Margao" />
		<property name="zipCode" value="23313123" />
	</bean>
</beans>