<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
 <bean id="addre" class="com.infosys.demo.Addre">
 <constructor-arg name="state" value="Goa"></constructor-arg>
 <constructor-arg name="zipcode" value="277686" type="Integer" ></constructor-arg>
 </bean>
 
 <bean id="emp" class="com.infosys.demo.Emp" autowire="constructor">
 <constructor-arg name="name" value="Dylan"></constructor-arg>
 </bean>
	
</beans>