<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
 <bean id="address2" class="com.infosys.pojo.Address">
 <constructor-arg name="state" value="Goa"></constructor-arg>
 <constructor-arg name="city" value="Panjim"></constructor-arg>
 </bean>
 
 <bean id="empinfo" class="com.infosys.pojo.EmpInfo" autowire="constructor">
 <constructor-arg name="sid" value="12"></constructor-arg>
 <constructor-arg name="name" value="Dylan"></constructor-arg>
 </bean>
	
</beans>